body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

#menu{
  padding-top:200px;
}

.iconMyStyle {
    background: white;
    border-radius: 50%;}

    .feature-center .h3Menu {
        color: #d2027c;
        font-size: 25px;
        background-color: #ffffffb3;
        border-radius: 20px;
    }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.nav gtco-heading {
    height: 10px;
}

#div_nav {
    HEIGHT: 200PX;}

#li_menu {
  font-size: 20px;
padding-bottom: 0px;
padding-top: 0px;
}
#titre_sous_logo{
  color:#fff;
  margin-left:50px;
  margin-top :30px;
  font-size: 50px;
  padding-bottom: 20px;
}
#logo{
        margin-top: -50px;}

.mybox {
    position: relative;
    height: 500px;
    background-color: #35464E;
}

.mybox .resteBas {
    position: absolute;
    text-align: center;
    bottom: 2px;
    left: 5px;
    font-size: 14px;
}

.mybox:hover {
    transition: 0.5;
    background-color: #455963;
    cursor: pointer;
}

.news { 
    margin-left: 16% !important;
}

.containColor {
    background-color: #303841;
}

.newsTitre{
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 9%;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.aUnlink{
    text-decoration: none;
    color: #8da9b7;
}

.titrePartenaire {
    color: white;
    font-size: 30px;
    margin-left: 15% !important;
}

/* DEBUT CSS POUR CAROUSEL DE PARTENAIRES */
.carousel{
    /*background: #2f4357; */
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
/* FIN CSS POUR CAROUSEL DE PARTENAIRES */

@media screen and (max-width: 1050px){

.menu-hidden{
display: none;
}

.titrePartenaire {
    display: none !important;
}

}
@media screen and (max-width : 767px){
#logo{
        vertical-align: middle;
        display: block;
        margin-left: auto;
        margin-right: auto;
      margin-top: 0px;}
#titre_sous_logo{
        margin-top:50px;
        text-align:center;
      padding-left:0px;
      margin-left:0px;}

}
@media screen and (max-width : 768px){
#logo{
      margin-top: 0px;}
}